.profileInfo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.profileInfo-container .info,
.profileInfo-container .extra {
  width: 49%;
}

.profileInfo-container .line {
  width: 1px;
  height: 300px;
  background-color: #e6ecf0;
}

/*********************************************** INFO ***********************************************/

.profileInfo-container .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-family: "iceberg", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 100;
}

.profileInfo-container .info p {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.profileInfo-container .info p span:first-child {
  color: #d5d5d5;
  width: 150px;
  display: inline-block;
}

/*********************************************** Not Connected ***********************************************/
.profileInfo-container .extra h2 {
  font-family: "iceberg", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/*********************************************** OTHER USER ***********************************************/
.profileInfo-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
}

.profileInfo-container .btn svg {
  margin-right: 10px;
  font-size: 2rem;
}

.profileInfo-container .add-friend {
  background-color: #3c60ff;
}

.profileInfo-container .block-user {
  background-color: #ff3c3c;
}

.profileInfo-container .btn:hover {
  opacity: 1;
}

/*********************************************** UPDATE ***********************************************/
.profileInfo-container .extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileInfo-container .extra .update {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileInfo-container .extra .update-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}
/* TODO: Make it Possible to select any part of the image and upload only that part */
.profileInfo-container .extra .update-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profileInfo-container .extra p {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 20px;
}

.profileInfo-container .extra input[type="text"] {
  outline: 1px solid #cfcfcf;
  border: none;
  background-color: #222c52;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  text-align: center;
  text-transform: capitalize;
  font-family: "iceberg", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
  margin-bottom: 10px;
}

.profileInfo-container .extra .btn-update {
  width: 100px;
  height: 30px;
  background: linear-gradient(116.04deg, #3c60ff 23.36%, #4a33c7 77.76%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "iceberg", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}
